calculator-api/src/main/mule/addition.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="additionFlow" doc:id="61b5ce06-8ce9-42cf-929f-ef2e93e21976" >
		<set-variable value="#[attributes.QueryParams.number1]" doc:name="Set Variable" doc:id="6e6a05d1-22ad-4bd9-8625-0a50f1fe17d2" variableName="number1"/>
		<set-variable value="#[attributes.QueryParams.number1]" doc:name="Set Variable" doc:id="929ea188-ba98-4daa-88ba-7717b9ab1634" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="50db57e6-1dc0-4b8a-8afc-1a71309920f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"result": vars.number1 + vars.number2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
