calculator-api/src/main/mule/division.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="divisionFlow" doc:id="b129281d-ecfe-47b1-85bd-8929ce70b0eb" >
		<set-variable value="#[attributes.QueryParams.number1]" doc:name="Set Variable" doc:id="ffafa729-b2ac-4686-83a9-898e57377021" variableName="number1"/>
		<set-variable value="#[attributes.QueryParams.number2]" doc:name="Set Variable" doc:id="b85755c0-9314-40f1-bfcc-05de7b185ddd" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="00ab1332-cb8b-4d03-9bfd-c8208480587c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"result": (vars.number1)/(vars.number2)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
